Write a function that will take five arguments :

1)Number of sellers ---- data type Int

2)Top sellers from the Number of Sellers -- data type Int

3)List of sellers type -- data type list(str)

4)Total Number of review  -- data type (int)

5)review -- data type (list(str)

In [1]:
def choose_sell(noOfSeller:int,topSellers:int,listSellers:list,noOfreview:int,review:list):
    
    output = list()
    dict1 = dict()
    str1 = review[0].rstrip().lstrip()
    list2 = str1.split(" ")
    #for sub1 in range(noOfreview):        
    for sub3 in list2:
        if sub3 in listSellers:
            output.append(sub3)
                    
    freq = dict()
    for item in output: 
        if item in freq.keys(): 
            freq[item] += 1
        else: 
            freq[item] = 1
    sort1 = sorted(freq.values())
    sort1.reverse()
    outres = sort1[:topSellers]
    return outres
                
            
    
    
    
choose_sell(5,2,['tyre','cream','shampoo','paste','balde','soap'],15,['ok tyre is very good tyre and with out that tyre my paste wont soap and shampoo to is a good shampoo'])

[3, 2]

In [2]:
def CountFrequency(my_list): 
  
    # Creating an empty dictionary  
    freq = {} 
    for item in my_list: 
        if item in freq: 
            freq[item] += 1
        else: 
            freq[item] = 1
  
    for key, value in freq.items(): 
        print ("% d : % d"%(key, value)) 
  
# Driver function 
if __name__ == "__main__":  
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2] 
  
    CountFrequency(my_list)

 1 :  5
 5 :  2
 3 :  3
 4 :  3
 2 :  4

Sort a list of alphnummeric data

In [3]:
import re 

def sorted_nicely(l:list): 
    """ Sort the given iterable in the way that humans expect.""" 
    convert = lambda text: int(text) if text.isdigit() else text 
    alphanum_key = lambda key: [ convert(c) for c in re.split('([0-9]+)', key) ] 
    return sorted(l, key = alphanum_key)

l = ['AL13', 'AL3', 'AA14', 'AA4']
print(sorted_nicely(l))

['AA4', 'AA14', 'AL3', 'AL13']

In [4]:
help(sorted)
import re
help(re.split)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

Help on function split in module re:

split(pattern, string, maxsplit=0, flags=0)
    Split the source string by the occurrences of the pattern,
    returning a list containing the resulting substrings.  If
    capturing parentheses are used in pattern, then the text of all
    groups in the pattern are also returned as part of the resulting
    list.  If maxsplit is nonzero, at most maxsplit splits occur,
    and the remainder of the string is returned as the final element
    of the list.

In [5]:
def sort_nicely(l:list):
    
    r = sorted(l, key=lambda item: (int(item.partition(' ')[0])
                                       if item[0].isdigit() else float('inf'), item))  
    return r
l = ['AL13', 'AL3', 'AA14', 'AA4']
print(sort_nicely(l))

['AA14', 'AA4', 'AL13', 'AL3']

In [6]:
def sort_using_key(lst:list):     
    lst = [str(i) for i in lst] 
    list1 = sorted(lst) 
    lst = [int(i) if i.isdigit() else i for i in lst ] 
    return lst 
l = ['AL13', 'AL3', 'AA14', 'AA4']
print(sort_using_key(l))

['AL13', 'AL3', 'AA14', 'AA4']

In [7]:
import re 

def sorted_nicely(l:list): 
    """ Sort the given iterable in the way that humans expect.""" 
    convert = lambda text: int(text) if text.isdigit() else text 
    alphanum_key = lambda key: [ convert(c) for c in re.split('([0-9]+)', key) ] 
    
    return sorted(l, key = alphanum_key)

l = ['AL13', 'AL3', 'AA14', 'AA4']
print(sorted_nicely(l))

['AA4', 'AA14', 'AL3', 'AL13']

In [8]:
import re
def mychoice(s:str):    
    l1 = list()
    for x in re.split(r'(\d+)', s):
        if  x.isdigit():
            l1.append(int(x))
        else:
            l1.append(x)
    return l1
     

l = ['AL13', 'AL3', 'AA14', 'AA4']

print(sorted(l,key=mychoice))

['AA4', 'AA14', 'AL3', 'AL13']

In [9]:
import re 

def sort_one(t:list):    

    def sorted_m1(l:str): 
        s = list()
        for c in re.split('([0-9]+)', l):         
        
            s.append(conv(c))
        return s

    def conv(c:str):
        if c.isdigit():
            return int(c)

        else:
            return c             
            
    return sorted(t, key = sorted_m1)

l = ['AL13', 'AL3', 'AA14', 'AA4']
print(sort_one(l))

['AA4', 'AA14', 'AL3', 'AL13']

In [10]:
import re
def alpha_sort(l:list):
    
    def mychoice1(s:str):   
        l1  = list()
        for x in re.split(r'(\d+)', s):
            if not x.isdigit():
                l1.append(x)
            else:
                l1.append(int(x))
        return l1
    return sorted(l,key=mychoice1)
     

l = ['AL13', 'AL3', 'AA14', 'AA4']

alpha_sort(l)

['AA4', 'AA14', 'AL3', 'AL13']

In [11]:
import re

def check_digit(x:str):     
        if not x.isdigit():
            return x
        else:
            return int(x)
        
def loop_text(x:str):
    l1 = list()
    for c in re.split('([0-9]+)', x):
        l1.append(check_digit(c))
    return l1
        
def alpha_num_sort(L:list):        
    return sorted(l,key=loop_text)
     

l = ['AL13', 'AL3', 'AA14', 'AA4']

print(alpha_num_sort(l))

['AA4', 'AA14', 'AL3', 'AL13']

In [12]:
import natsort
your_list = ['AL13', 'AL3', 'AA14', 'AA4']
natsort.natsorted(your_list)

['AA4', 'AA14', 'AL3', 'AL13']

In [13]:
import re 

def sorted_nicely_no_list(l:list): 
    """ Sort the given iterable in the way that humans expect.""" 
    convert = lambda text: [int(text) if text.isdigit() else text]
    alphanum_key = lambda key: [convert(c) for c in re.split('([0-9]+)', key)]
    
    return sorted(l, key = alphanum_key)

l = ['AL13', 'AL3', 'AA14', 'AA4']
print(sorted_nicely_no_list(l))

['AA4', 'AA14', 'AL3', 'AL13']

In [14]:
x = 10
y = 20
tfunc = lambda x,y: x+y
print(tfunc(10,40))

50

In [15]:
import re 

def sorted_nicely_usingMap(l:list): 
    """ Sort the given iterable in the way that humans expect.""" 
    convert = lambda text: [int(text) if text.isdigit() else text]
    
    alphanum_key = lambda key: list(map(convert, re.split('([0-9]+)', key)))
    
    return sorted(l, key = alphanum_key)

l = ['AL13', 'AL3', 'AA14', 'AA4']
print(sorted_nicely_usingMap(l))

['AA4', 'AA14', 'AL3', 'AL13']

In [3]:
import pymysql

import sqlalchemy

from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

from sqlalchemy import create_engine

mysql_engine = create_engine('mysql+pymysql://{0}:{1}@{2}:{3}'.format("root", "root", "localhost", 3306))
mysql_engine.execute("USE bookinfo")
meta=MetaData()
cursor = mysql_engine.execute("select * from author")
result = cursor.fetchone()
print(result)
mysql_engine.execute("USE bookinfo")
cursor = mysql_engine.execute("insert into author values (AUT017,'Vukkalam Nevaan','India','Navi Mumbai')")
result = cursor.fetchall()
print(result)

Exception during reset or similar
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pymysql\connections.py", line 713, in _write_bytes
    self._sock.sendall(data)
ConnectionAbortedError: [WinError 10053] An established connection was aborted by the software in your host machine

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\pool.py", line 709, in _finalize_fairy
    fairy._reset(pool)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\pool.py", line 880, in _reset
    pool._dialect.do_rollback(self)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\base.py", line 1796, in do_rollback
    dbapi_connection.rollback()
  File "C:\ProgramData\Anaconda3\lib\site-packages\pymysql\connections.py", line 429, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "C:\ProgramData\Anaconda3\lib\site-packages\pymysql\connections.py", line 771, in _execute_command
    self._write_bytes(packet)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pymysql\connections.py", line 718, in _write_bytes
    "MySQL server has gone away (%r)" % (e,))
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionAbortedError(10053, 'An established connection was aborted by the software in your host machine', None, 10053, None))")

('AUT001', 'William Norton', 'UK', 'Cambridge')

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'AUT017' in 'field list'") [SQL: "insert into author values (AUT017,'Vukkalam Nevaan','India','Navi Mumbai')"] (Background on this error at: http://sqlalche.me/e/2j85)